# Installation specific parameters
/app/config/parameters.yml

# Build artifacts and assets
/web/bundles/
/web/css/
/web/js/
/web/assets/
/web/favicon.ico
/web/robots.txt

# Caches, logs and sessions
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
!/var/cache/.gitkeep
!/var/sessions/.gitkeep
!/var/logs/.gitkeep

# Dependency manager folders
/vendor
/node_modules
/assets/vendor

# Uploads
/web/files/*
/web/media/*

# Utility and OS files
/tasks/ansible/*.retry
/phantomjsdriver.log
/.vagrant
/.idea
.DS_Store
._*
*.orig
*~
