/web/bundles/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/sessions/*
!/app/cache/.gitkeep
!/app/sessions/.gitkeep
!/app/logs/.gitkeep
/build
/vendor
/node_modules
/assets/vendor
/composer.phar
.DS_Store
._*
*.orig
*~
