[Unit]
Description=Selenium Server Standalone Service
After=network.service xvfb.service x11vnc.service

[Service]
User=vagrant
WorkingDirectory=/home/vagrant/selenium
Environment="DISPLAY=:99"
ExecStart=/usr/bin/java -jar /usr/local/bin/selenium-server-standalone.jar
Restart=always

[Install]
WantedBy=multi-user.target
