[Unit]
Description=VNC Server for Xvfb
After=xvfb.service

[Service]
User=vagrant
ExecStart=/usr/bin/x11vnc -display :99 -nopw -forever -norc -shared -xkb -noncache
Restart=always

[Install]
WantedBy=multi-user.target
