[Unit]
Description=MailHog Service
After=network.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mailhog -api-bind-addr 0.0.0.0:1080 -ui-bind-addr 0.0.0.0:1080 -smtp-bind-addr 127.0.0.1:1025
Restart=always

[Install]
WantedBy=multi-user.target
